[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    except requests.exceptions.RequestException as e
    with concurrent.futures.ThreadPoolExecutor
    for media in tqdm
    if 0:
    if __name__ == .__main__.:
    return response.json()
    raise FileExistsError

[run]
omit =
    snapchat_dl/cli.py
    snapchat_dl/version.py
    setup.py
    .eggs/*
    venv/*
