# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: check-added-large-files
          - id: check-yaml
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.3.0
      hooks:
          - id: reorder-python-imports
    - repo: https://github.com/psf/black
      rev: 19.10b0
      hooks:
          - id: black
    - repo: https://github.com/asottile/blacken-docs
      rev: v1.7.0
      hooks:
          - id: blacken-docs
            additional_dependencies: [black==19.10b0]
